    
    <a id="back-to-top" href="#">
      <i class="ifc-up4"></i>
    </a>


    <!-- /// jQuery ////////  -->
  <script src="{{ paths.theme }}js/jquery-2.1.0.min.js"></script>
  
    <!-- /// ViewPort ////////  -->
  <script src="{{ paths.theme }}js/viewport/jquery.viewport.js"></script>
    
    <!-- /// Easing ////////  -->
  <script src="{{ paths.theme }}js/easing/jquery.easing.1.3.js"></script>

    <!-- /// SimplePlaceholder ////////  -->
  <script src="{{ paths.theme }}js/simpleplaceholder/jquery.simpleplaceholder.js"></script>

    <!-- /// Fitvids ////////  -->
    <script src="{{ paths.theme }}js/fitvids/jquery.fitvids.js"></script>
    
    <!-- /// Superfish Menu ////////  -->
  <script src="{{ paths.theme }}js/superfish/hoverIntent.js"></script>
    <script src="{{ paths.theme }}js/superfish/superfish.js"></script>
    
    <!-- /// bxSlider ////////  -->
  <script src="{{ paths.theme }}js/bxslider/jquery.bxslider.min.js"></script>
    
    <!-- /// Magnific Popup ////////  -->
  <script src="{{ paths.theme }}js/magnificpopup/jquery.magnific-popup.min.js"></script>
    
    <!-- /// Isotope ////////  -->
  <script src="{{ paths.theme }}js/isotope/isotope.pkgd.min.js"></script>
    <script src="{{ paths.theme }}js/isotope/imagesloaded.pkgd.min.js"></script>
    
    <!-- /// Parallax ////////  -->
  <script src="{{ paths.theme }}js/parallax/jquery.parallax.min.js"></script>
  
  <!-- /// EasyPieChart ////////  -->
  <script src="{{ paths.theme }}js/easypiechart/jquery.easypiechart.min.js"></script>
    
    <!-- /// Easy Tabs ////////  -->
    <script src="{{ paths.theme }}js/easytabs/jquery.easytabs.min.js"></script>  
  
    <!-- /// Waypoints ////////  -->
    <script src="{{ paths.theme }}js/waypoints/waypoints.min.js"></script>
    <script src="{{ paths.theme }}js/waypoints/waypoints-sticky.min.js"></script>
    
    <!-- /// Form validate ////////  -->
    <script src="{{ paths.theme }}js/jqueryvalidate/jquery.validate.min.js"></script>
    
  <!-- /// Form submit ////////  -->
    <script src="{{ paths.theme }}js/jqueryform/jquery.form.min.js"></script>
    
    <!-- /// gMap ////////  -->
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="{{ paths.theme }}js/gmap/jquery.gmap.min.js"></script>
    
    <!-- /// Scrollspy ////////  -->
    <script src="{{ paths.theme }}js/scrollspy/scrollspy.min.js"></script>

  <!-- /// Custom JS ////////  -->
  <script src="{{ paths.theme }}js/custom.js"></script>

</body>
</html>